$color_1: #fff;
$color_2: black;
$color_3: rgb(135, 103, 195);
$color_4: aliceblue;
$color_5: rgb(89, 172, 208);
$color_6: rgb(63, 63, 204);
$font-family_1: sans-serif;
$font-family_2: Helvetica;
$background-color_1: grey;
$background-color_2: rgb(242, 177, 188);
$background-color_3: red;
$background-color_4: yellow;

/******navigation bar********/


/********** Base styles **********/


/* Simple Responsive Framework. */


/********** Desktop only **********/


/********** Tablet only **********/


/********** Mobile only **********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    background: #1d4052;
    color: $color_1;
    padding: 20px;
    font-family: $font-family_1;
    img {
        height: 45px;
        float: left;
        margin-left: 20px;
    }
}

.menu-right {
    text-align: right;
}

ul {
    li {
        display: inline-block;
        margin: 20px;
        list-style: none;
    }
}

span {
    margin: 0 20px;
    font-size: 28px;
    cursor: pointer;
    display: none;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

section {
    background-color: $background-color_1;
    border: 1px solid black;
    margin-bottom: 30px;
    align-self: center;
}

p {
    width: 90%;
    padding: 1px;
    margin-right: auto;
    margin-left: auto;
    font-family: $font-family_2;
    color: $color_2;
    clear: right;
    cursor: pointer;
}

h3 {
    border: 1px solid black;
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 2px;
    float: right;
    height: 25px;
    width: 80px;
    text-align: center;
}

#Chicken {
    background-color: $background-color_2;
}

#Beef {
    background-color: $background-color_3;
}

#Sushi {
    background-color: $background-color_4;
}

.row {
    width: 100%;
}

.food {
    color: $color_3;
    font-weight: 800;
    font-size: large;
    margin-top: 0px;
    height: 5px;
    width: auto;
    padding: 0px 0px 0px 0px;
}

a {
    color: $color_4;
    text-decoration: none;
    &:hover {
        color: $color_5;
    }
    &:active {
        color: $color_6;
    }
}

@media (max-width: 800px) {
    span {
        display: block;
    }
    ul {
        li {
            display: block;
        }
        display: none;
    }
}

@media (min-width: 992px) {
    .col-desktop-A {
        float: center;
        margin-left: 2.5%;
        width: 95%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .col-tablet-A {
        float: left;
        margin-left: 5%;
        width: 89%;
    }
    .col-tablet-B {
        float: left;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }
}

@media (max-width: 767px) {
    .col-mobile-A {
        float: left;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
}